@font-face {
    font-family: Limelight-Regular;
    src: url('../fonts/Limelight-Regular.ttf');
}

@font-face {
    font-family: Comfortaa-Medium;
    src: url('../fonts/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: KB-Danube;
    src: url('../fonts/KB Danube.ttf');
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.color-blue {
    color: #4d90fe;
}

html, body {
    height: calc(100% - 48px);
}

body {
    margin: 0;
    padding: 24px;

    background: #F5F5F5;
}

.title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    font-family: Limelight-Regular, sans-serif;
}

.title__text {
    margin: 0;
}

.game {
    display: grid;
    grid-template-rows: 25% 20% 10% 15% 30%;

    height: 100%;
}

.game__bound {
    display: grid;
    grid-template-columns: 1fr max-content max-content;

    margin: auto auto 0 auto;
    width: 50%;
}

.bound__title {
    font-family: Comfortaa-Medium, serif;
    font-size: 14px;

    display: flex;
    justify-content: right;
    align-items: center;
}

.bound__text {
    font-family: Comfortaa-Medium, serif;
    font-size: 14px;
    margin-left: 8px;
}

.bound__input {
    width: 70px;
    height: 30px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #FFFFFF;
}

.game__input {
    margin: auto;
    width: 50%;
    position: relative;
}

.input__number {
    width: 100%;
    border: 1px solid #FFFFFF;
    text-align: center;
    border-radius: 16px;

    padding: 0;

    font-size: 100px;
    font-family: Limelight-Regular, serif;
}

input.error {
    border: 1px solid #d5534d;
    background: #ffebeb;
}

.input__hint {
    position: absolute;

    top: 0;
    right: -70px;
}

.hint__img {
    width: 40px;
    height: 40px;
}

.hint {
    position: absolute;
    display: none;

    width: 100px;
    height: 100%;
    top: 0;
    left: 120%;

    align-items: center;
    font-family: Comfortaa-Medium, serif;
    font-size: 14px;
}

.hint-on:hover + .hint {
    display: flex;
}

.game__under-input {
    display: grid;
    grid-template-columns: 1fr max-content;

    margin: auto;
    width: 50%;
}

.game__move-result {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;

    font-family: Comfortaa-Medium, serif;
    font-size: 16px;
    margin-right: 24px;
}

#js-error {
    color: #d5534d;
}

.game__start {
    margin: auto 25% auto auto;
    text-align: center;

    font-family: Comfortaa-Medium, serif;
    font-size: 16px;

    background: #4d90fe;
    color: #FFFFFF;

    width: 200px;
    height: 40px;
    border-radius: 8px;
}

.game__start.error {
    cursor: auto;
    opacity: 0.5;
}

.game__counter {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.counter__title {
    font-family: KB-Danube, serif;
    font-size: 14px;
}

.counter__number {
    font-family: Limelight-Regular, serif;
    font-size: 50px;
}

.game__restart {
    display: grid;
    grid-template-columns: 1fr max-content;

    height: max-content;
    width: max-content;
    margin-top: auto;
    margin-left: auto;
}

.restart__text {
    text-align: right;
    margin-bottom: auto;
    margin-top: auto;

    font-family: Comfortaa-Medium, serif;
}

.restart__icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    transition: transform 0.5s ease-in-out;
}

.game__restart:hover .restart__icon {
    transform: rotate(360deg);
}

button {
    background: none;
    border: none;
    padding: 0;
}

input:disabled {
    background: white;
    color: grey;
    opacity: 0.8;
}
