@font-face {
    font-family: Limelight-Regular;
    src: url('../fonts/Limelight-Regular.ttf');
}

@font-face {
    font-family: Comfortaa-Medium;
    src: url('../fonts/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact-Regular.ttf');
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/Comic Sans MS-Regular.ttf');
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Regular.ttf');
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.color-blue {
    color: #4d90fe;
}

.background-blue {
    background: #4d90fe;
}

html, body {
    height: calc(100% - 48px);
}

body {
    margin: 0;
    padding: 24px;

    background: #F5F5F5;
}

.title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    font-family: Limelight-Regular, sans-serif;
}

.title__text {
    margin: 0;
}

.meme-creator {
    margin-top: 24px;
    width: 100%;
    height: calc(100% - 62px);

    display: grid;
    grid-template-columns: 78px 1fr;
    gap: 24px;

    position: relative;
}

.meme-menu {
    display: grid;
    gap: 12px;

    height: max-content;
    font-family: Comfortaa-Medium, sans-serif;
    font-size: 14px;
}

.menu__state {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
    grid-template-columns: 35px 35px;
    gap: 8px;
}

.menu__management {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
    grid-template-columns: 35px 35px;
    gap: 8px;
}

.state__item {
    background: inherit;
    border: none;
    padding: 4px;
}

.management__item {
    background: inherit;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.state__item_blocked {
    cursor: auto;
}
.state__item_unlocked {
    cursor: pointer;
}

.state__item_unlocked:hover {
    background: #FFFFFF;
    border-radius: 8px;
}

.management__item:hover {
    background: #FFFFFF;
    border-radius: 8px;
}

.state__item_choose {
    background: #FFFFFF;
    border-radius: 8px;
}

.item__img {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.meme-layer {
    grid-column: 2;
    border-radius: 12px;

    position: absolute;
}

.meme-field_init {
    width: 100%;
    height: 100%;
}

.edit-text-container {
    grid-column: 2;
    position: absolute;
    display: none;
    border: 2px dotted #000;

    z-index: 2;
}

.edit-text {
    position: absolute;
    overflow: visible;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    height: 100%;
}


.edit-text:focus {
    cursor: text;
    outline: none;
}

.style-panel {
    position: absolute;
    top: -39px;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    gap: 8px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;

    font-family: Comfortaa-Medium, sans-serif;
    font-size: 12px;
}

.select__item {
    font-family: Comfortaa-Medium, sans-serif;
    font-size: 12px;
}

.style-panel label {
    margin: auto;
}


.add-image {
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background: #FFFFFF;

    z-index: 2;
}

.add-image__text {
    font-size: 25px;
    text-align: center;
    margin-bottom: 24px;
    font-family: Comfortaa-Medium, sans-serif;
}

.add-image__button {
    border: none;
    color: #FFFFFF;
    font-family: Comfortaa-Medium, sans-serif;
    width: max-content;

    padding: 16px;
    border-radius: 12px;
    font-size: 15px;
}
